<div class="mat-elevation-z8">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <mat-table [dataSource]="dataSource" *ngIf="dataSource">
    <!-- logo_url Column -->
    <ng-container matColumnDef="logo_url">
      <mat-header-cell *matHeaderCellDef>Logo</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img class="logo" src="{{row['logo_url']}}">
      </mat-cell>
    </ng-container>

    <!-- course_slug Column -->
    <ng-container matColumnDef="course_slug">
      <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row['course_slug']}} </mat-cell>
    </ng-container>

    <!-- category_slug Column -->
    <ng-container matColumnDef="category_slug">
      <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row['category']['category_slug']}} </mat-cell>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row['title']}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
